@import '../../../../layouts/vars'

.Task
	$self: &
	display: flex
	align-items: flex-start
	width: 100%
	padding: 0 0 20px

	&__title
		flex: 1
		color: white
		font: 18px/30px $bold
		margin-top: 2px
		margin-left: 20px
		cursor: text

	&__input
		flex: 1
		color: white
		font: 18px/30px $bold
		margin-top: 2px
		margin-left: 20px
		padding: 0 10px
		box-sizing: border-box

		outline: none
		background-color: transparent
		resize: none
		height: 65px
		border: 1px solid rgba(255, 255, 255, .3)
		border-radius: 6px

	&__message
		text-align: center
		color: white
		padding-bottom: 20px

	&--completed
		#{$self}__title
			text-decoration: line-through


	&-enter
		opacity: 0
	
	&-enter-active
		opacity: 1
		transition: opacity 500ms ease-in
	
	&-exit
		opacity: 1
	
	&-exit-active
		opacity: 0
		transition: opacity 500ms ease-in