@import '~reset-css'
@import './vars'

	
* 
	&::-webkit-scrollbar
		width: 3px
		height: 3px
		border-radius: 3px

	&::-webkit-scrollbar-button
		background-color: #d0dae5
		display: none
	&::-webkit-scrollbar-track
		box-sizing: border-box
		background-color: transparent
	&::-webkit-scrollbar-track-piece
		background-color: transparent

	&::-webkit-scrollbar-thumb
		height: 50px
		background-color: #d0dae5
		border-radius: 3px
		transition: background-color .3s

	&::-webkit-scrollbar-thumb:vertical:hover
		background-color: $gray
		
	&::-webkit-scrollbar-corner
		background-color: #d0dae5
	&::-webkit-resizer
		background-color: #d0dae5

::selection 
	background: $light
	color: $black
	

body
	font: 18px $bold
	color: $black





@keyframes drop
	from
		opacity: 0
		top: 70px
	to
		opacity: 1
		top: 50px

.Select
	position: relative
	display: block
	// width: 100%
	// min-width: 200px
	cursor: pointer

	&__current
		$current: &
		display: flex
		align-items: center
		font: 36px $bold
		color: white
		transition: color .2s

		&:hover
			color: $accent

		&-icon
			display: flex
			align-items: center
			justify-content: center
			width: 32px
			min-width: 32px
			height: 32px
			margin-right: 15px
			border-radius: 50%
			border: 2px solid #F5F7FD
			transition: border .2s

			svg
				fill: $gray
				transition: fill .2s, transform .2s

		&--active
			color: $accent

			#{$current}-icon
				border: 2px solid $accent
				svg
					fill: $accent
					transform: rotate(180deg)
					// transform: scaleY(-1)
		

	&__dropdown
		position: absolute
		top: 50px
		left: 0px
		height: 250px
		overflow: auto
		padding: 10px 0
		z-index: 200
		background-color: white
		box-shadow: 0 15px 30px 0 rgba(32, 33, 36, .1)
		animation: drop .2s ease

	&__option
		cursor: pointer
		user-select: none
		padding: 10px 30px
		box-sizing: border-box
		&:hover
			background-color: #F5F7FD

		&--selected
			color: $accent
			pointer-events: none
		&--disabled
			color: $gray
			pointer-events: none